# Build and Release Folders
bin/
bin-debug/
bin-release/
nogo/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
mongoose-3.7.exe
app.yaml
app2.yaml
favicon.ico
main.py
mongoose-3.7.exe
makecoffie.bat
.gitignore
deploy_to_google.sh
*~
*/*~
main.pyc
