<!-- test files -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Model your robots in URDF and show them here!</title>
 


<script src="./scripts/qrcode.js"></script>

<script>
{% if robot_start_id is defined %}
window.start_with_default=false;
window.robot_id={{robot_start_id}};

{% else %}
window.start_with_default=true;
window.robot_id=5629499534213120;
 {% endif %}
 </script>


</head>




  <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/additional.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="lib/codemirror.css">
    <link href="./css/ambiance_mod.css" rel="stylesheet">
<body>

<div id="controldiv">
<span id="screenshottext"></span><div id="screenshotplace"></div>
<div id="robodiv">

<form id="robotform"><div><b>Robot's URDF</b>
{% if url_linktext is defined %}
<span style="float:right">
<a href="{{url}}">{{url_linktext}}</a>
</span>
{% endif%}
</div>
<div id="robottextbox">
<textarea id="robottext" name="robottext" rows="15" id="robottext" placeholder="Place robot's URDF here"></textarea>
</div>
<br>
<button type="button" id="loadbutton">Load robot URDF</button>
{% if user %}
<button type="button" id="saverobot">Save robot</button> <input type="checkbox" name="visible" id="visible">Visible</input>
{% endif %}
<button type="button" id="armode">AR Mode</button>
<span id="qrcode" style="z-index:2"></span>
<br>
<button type="button" id="screenshot">Make screenshot</button>

<b>Camera controls:</b><button type="button" id="frontview">Front view</button>
<button type="button" id="topview">Top view</button>
<button type="button" id="sideview">Side view</button>
<br>
<!--</form>-->
Example robots:
{% for item in linki %}
        <a href="../testowe/{{ item[1] }}" target="_blank" class="robotlink">{{ item[0] }}</a> 
    {% endfor %}
</div>
<div id="animdiv"><!--<form id="animform">--><div><b>Robot's poses CSV</b></div><div id="jointnames"> .</div><textarea name="animcsv" rows="2" id="robotcsv" placeholder="Place your CSV(comma seperated values) of robot's poses here"></textarea><br>
<button type="button" id="loadcsv">Load CSV</button>
<button type="button" id="playbutton">Play</button>
<button type="button" id="pausebutton">Pause</button>
<button type="button" id="stopbutton">Stop</button>
<button type="button" id="prevbutton"><</button>
<button type="button" id="nextbutton">></button>
<button type="button" id="addposition">Add current position</button>
<br>
<div id="trajectory">
Trace trajectory of:<select id="all_links"></select><button type="button" id="tracebutton" class="btn-success">Trace</button>
<button type="button" id="clear_trajectory" class="btn-alert">Clear trajectory</button><br>


</div>

</form></div>

</div>
<div id="container" style="float:left;width:50%">
		</div>

<script src="lib/codemirror.js"></script>
<script src="lib/mode/xml/xml.js"></script>
<script src="./scripts/three.min.js"></script>
<script src="./scripts/jquery-1.9.1.js"></script>
<script src="./scripts/jquery.xml2json.js" type="text/javascript" language="javascript"></script>
<script src="./lib/bootstrap.min.js"></script>
	<script src="./lib/Detector.js"></script>
		<script src="./lib/Coordinates.js"></script>
<!--		<script src="./lib/OrbitAndPanControls.js"></script>-->
		<script src="./lib/TrackballControls.js"></script> -->
<script src="./scripts/underscore.js"></script>
	<script src="./scripts/backbone.js"></script>
	<script src="./lib/dat.gui.min.js"></script>
	<script src="./scripts/modelrobot.js"></script>
<script src="./scripts/parserobot.js"></script>
<script src="./lib/CSVToArray.js"></script>

<!--<script src="./scripts/unit4-robot_arm_demo.js"></script>-->
<script src="./scripts/scene.js"></script>
<script src="./scripts/animate.js"></script>
</body>
</html>
